---
layout: default
title: Projects
menu:
  header:
    weight: 7
---
<div class='o-wrapper'>
  <div class="flex-sections" style="text-align: center;">
    <div class="flex-row">
      <h2>Editing</h2>
    </div>
  </div>
  <div class='o-grid js-grid'>
    {% for post in site.data.editings %}
    {% include post-card-alt.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <hr>
    </div>
  </div>
  <div class='o-grid'>
    {% include instagram.html %}
  </div>

  <div class="flex-sections" style="text-align: center;">
    <div class="flex-row">
      <h2>Beta Reading</h2>
    </div>
  </div>
  <div class='o-grid js-grid'>
    {% for post in site.data.beta-reads %}
    {% include post-card-alt.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <hr>
    </div>
  </div>
  <div class='o-grid'>
    {% include instagram.html %}
  </div>
</div>

<div class='o-wrapper'>
  <div class="flex-sections" style="text-align: center;">
    <div class="flex-row">
      <h2>Writing Consultancy</h2>
    </div>
  </div>
  <div class='o-grid js-grid'>
    {% for post in site.data.writing-consultancy %}
    {% include post-card-alt.html %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <hr>
    </div>
  </div>
  <div class='o-grid'>
    {% include instagram.html %}
  </div>
</div>

<div class='o-wrapper'>
  <div class="flex-sections" style="text-align: center;">
    <div class="flex-row">
      <h2>Awards Judged</h2>
    </div>
  </div>
  <div class='o-grid js-grid'>
    {% for post in site.data.awards-judged %}
    {% include post-card-alt.html modifier="c-post-card--square" %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <hr>
    </div>
  </div>
  <div class='o-grid'>
    {% include instagram.html %}
  </div>
</div>