<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% elsif page.tag %}{{
    page.tag | replace: "-", " " | capitalize_all }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description'
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}'
    href="{{ '/feed' | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://kit.fontawesome.com/ec5cf20e9f.js" crossorigin="anonymous"></script>
  <script
    type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>

  <link href="/main.css" rel="stylesheet" type="text/css">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  {% if page.image %}
  <meta itemprop='og:image'
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{{ page.image }}">
  {% endif %}
  <script>
    var base_url = window.location;
    pagination_next_url = base_url + '{{ paginator.next_page_path }}',
    pagination_next_page_number = '{{ paginator.next_page }}',
    pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>
  <!-- <style>
    {% capture inlineCSS %}
      {% include app.scss %}
    {% endcapture %}

    {{ inlineCSS | scssify }}
  </style> -->
</head>