<ul class='c-social-icons o-plain-list'>
  {% if site.facebook %}
    <li>
      <a href='{{ site.facebook }}' target='_blank'>
        <span class='social-icons-size c-social-nav__icon'>
          <i class="c-social-nav__icon fab fa-facebook-square"></i>
        </span>
      </a>
    </li>
  {% endif %}
  {% if site.twitter %}
    <li>
      <a href='{{ site.twitter }}' target='_blank'>
        <span class='social-icons-size c-social-nav__icon'>
          <i class="c-social-nav__icon fab fa-twitter"></i>
        </span>
      </a>
    </li>
  {% endif %}
  {% if site.instagram %}
    <li>
      <a href='{{ site.instagram }}' target='_blank'>
        <span class='social-icons-size c-social-nav__icon'>
          <i class="c-social-nav__icon fab fa-instagram"></i>
        </span>
      </a>
    </li>
  {% endif %}
  {% if site.goodreads %}
    <li>
      <a href='{{ site.goodreads }}' target='_blank'>
        <span class='social-icons-size c-social-nav__icon'>
          <i class="c-social-nav__icon fab fa-goodreads"></i>
        </span>
      </a>
    </li>
  {% endif %}
</ul>