---
layout: default
title: "Book Reviews"
pagination:
  enabled: true
  per_page: 28
  tag: 'book-reviews'
  debug: false
menu:
  header:
    weight: 2
---
<html>
<head>
</head>
<body>
    <div class='o-wrapper'>
        <div class="flex-sections" style="text-align: center;">
            <div class="flex-row">
                <h2>{{ page.title }}</h2>
            </div>
        </div>
        <div class='o-grid js-grid'>
            {% for post in paginator.posts %}
                {% if forloop.index0 % 4 == 0 %}
                    <div class="flex-row">
                {% endif %}
                {% include post-card-alt.html %}
                {% if forloop.index0 != 0 and forloop.index0 % 4 == 0 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
