---
layout: default
---

{% include page-hero.html %}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-3-l'>

        <div class='c-content'>
          {{ content }}
        </div>

      <div class='o-grid'>
        <div class='o-grid__col o-grid__col--4-4-s'>
          <ul class='c-share o-plain-list'>
            <li class='c-share__item'>
              <a class='c-share__link c-share__link--facebook' title='Follow on Instagram' href="{{site.instagram}}"
                onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class='c-share__item'>
              <a class='c-share__link c-share__link--facebook' title='Follow on Facebook' href="{{site.facebook}}"
                onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class='c-share__item'>
              <a class='c-share__link c-share__link--facebook' title='Follow on Amazon' href="{{site.amazon}}"
                onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
                <i class="fab fa-amazon"></i>
              </a>
            </li>
            <li class='c-share__item'>
              <a class='c-share__link c-share__link--facebook' title='Share on Goodreads' href="{{site.goodreads}}"
                onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
                <i class="fab fa-goodreads"></i>
              </a>
            </li>
            <li class='c-share__item'>
              <a class='c-share__link' title='Share on LinkedIn' aria-label='Share on LinkedIn' href="{{site.linkedin}}"
                onclick="window.open(this.href, 'linkedin-share', 'width=580, height=296'); return false;">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>